<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458423458075-ahc0c6f3b8ck8opg9p9du8j7umf4g2nm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458423458075-ahc0c6f3b8ck8opg9p9du8j7umf4g2nm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>458423458075-3bhbsfmbf05t1g8qpccaem3p0homsv21.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhzHvitO99gVfLpiyV2FbPkR_wX5Y9zuc</string>
	<key>GCM_SENDER_ID</key>
	<string>458423458075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>nirmit-180ee</string>
	<key>STORAGE_BUCKET</key>
	<string>nirmit-180ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458423458075:ios:ed7f2d0bdfd78a2a7cdbbe</string>
</dict>
</plist>